html {
  height: 100%;;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  height: calc(100% - 2rem);
}

#loading-text {
  text-align: center;
}

#aqi-header {
  text-align: center;
}

#aqi {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 20px;
  padding: 0 0.5rem;
  margin-top: 1rem;
}

#loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#map {
  width: 100%;
  flex: 1 1 auto
}

#footer {
  margin-top: 1rem;
  font-size: 0.75rem;
}

.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  /* Style the bubble. */
  padding: 5px;
  border-radius: 20px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
}

.small1 {
  font-size: 1rem;
}

.small2 {
  font-size: 0.75rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 3px;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  left: 0;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.bg-green {
  background-color: #008000;
  color: white;
}

.bg-yellow {
  background-color: #FFFF00;
}

.bg-orange {
  background-color: 	#FFA500;
}

.bg-red {
  background-color: #DC143C;
  color: white;
}

.bg-purple {
  background-color: #800080;
  color: white;
}

.bg-maroon {
  background-color: #800000;
  color: white;
}